# **Invocaciones**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Objetivo del DS**

**Este Dataset tiene datos recopilados de las principales ligas basquetbolisticas en el mundo**.
El **objetivo** principal realizar un Analisis Exploratorio del DS.

Como a su vez tambien:


1.   Encontrar el **MVP estadistico** de cada liga.
2.   En el caso de la **NBA**, encontrar de que lugar geografico del cual proviene la mayor cantidad de jugadores. Como asi cual es el que tiene la mayor calidad de jugadores nacido en el territorio haciendo uso de de sus estudios secundarios.
3.   Analisar **la altura promedio** de cada liga.

# **Tratamiento de la Data**

**Invocacion del ds**

In [31]:
df = pd.read_csv('/content/drive/MyDrive/Data Science/Basketball Dataset/players_stats_by_season_full_details.csv')
df.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,"Mar 6, 1972",7-1,216.0,325.0,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,"Jan 26, 1977",6-6,198.0,220.0,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,"Jul 24, 1963",6-9,206.0,265.0,120.0,United States,Summerfield High School,1.0,13.0,Utah Jazz
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,"Jul 23, 1968",6-4,193.0,180.0,82.0,United States,Skyline High School,1.0,2.0,Seattle SuperSonics

**Forma**

In [5]:
df.shape

(53949, 34)

**colmunas**

In [8]:
df.columns

Index(['League', 'Season', 'Stage', 'Player', 'Team', 'GP', 'MIN', 'FGM',
       'FGA', '3PM', '3PA', 'FTM', 'FTA', 'TOV', 'PF', 'ORB', 'DRB', 'REB',
       'AST', 'STL', 'BLK', 'PTS', 'birth_year', 'birth_month', 'birth_date',
       'height', 'height_cm', 'weight', 'weight_kg', 'nationality',
       'high_school', 'draft_round', 'draft_pick', 'draft_team'],
      dtype='object')

Tratamiento de valores nulos y **duplicados**

In [14]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
53944    False
53945    False
53946    False
53947    False
53948    False
Length: 53949, dtype: bool

In [34]:
df.isnull()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53944,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
53945,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
53946,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
53947,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
53948,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [35]:
df.fillna('International')

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,2344,1972.0,Mar,"Mar 6, 1972",7-1,216.0,325.0,147.0,United States,Robert G. Cole High School
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,2107,1977.0,Jan,"Jan 26, 1977",6-6,198.0,220.0,100.0,United States,Mainland High School
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,2095,1963.0,Jul,"Jul 24, 1963",6-9,206.0,265.0,120.0,United States,Summerfield High School
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,1989,1975.0,Jun,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,1982,1968.0,Jul,"Jul 23, 1968",6-4,193.0,180.0,82.0,United States,Skyline High School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53944,Ukrainian-Superleague,2019 - 2020,International,Kyrylo Meshheryakov,MYK,15,127.0,7,28,2,...,19,1995.0,Aug,"Aug 17, 1995",6-6,198.0,182.0,83.0,Ukraine,International
53945,Ukrainian-Superleague,2019 - 2020,International,Yaroslav Kadygrob,ODE,10,81.7,5,16,4,...,15,1991.0,Oct,"Oct 28, 1991",6-3,191.0,187.0,85.0,Ukraine,International
53946,Ukrainian-Superleague,2019 - 2020,International,Ernesto Tkachuk,ODE,16,124.7,1,15,0,...,9,1994.0,Sep,"Sep 17, 1994",6-2,188.0,200.0,91.0,Ukraine,International
53947,Ukrainian-Superleague,2019 - 2020,International,Andrij Shapovalov,KHAR,12,59.2,0,8,0,...,3,1993.0,Nov,"Nov 10, 1993",6-2,188.0,171.0,78.0,Ukraine,International
53948,Ukrainian-Superleague,2019 - 2020,International,Dmitriy Lypovtsev,KHAR,5,86.3,1,13,0,...,2,1986.0,Oct,"Oct 10, 1986",6-8,203.0,220.0,100.0,Ukraine,International

Como podemos observar, los datos del draft de algunos jugadores falta. Esto puede deberse al hecho de que estos mismos no fueron drafteados a la NBA.
Asi mismo, quienes no tuvieron un estudio secundario en EEUU tampoco.

**Eliminamos las columnas que no hagan falta**

In [32]:
df.drop('draft_round', axis=1, inplace=True)
df.drop('draft_pick', axis=1, inplace=True)
df.drop('draft_team', axis=1, inplace=True)

Creamos un DS donde solo existan los jugadores de la NBA para poder trabajar la data mas tade con facilidad.

**Creacion del NBA DS**

In [33]:
df_nba = df[df['League'] == 'NBA']